# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Generates when debugging the plugin
cmd/aqua/db/
cmd/aqua/fanal

results.json
policy/

vendor/
.vscode/
event.json
